@inherits LayoutComponentBase
@inject NavigationManager _nav
<!--************************************
                Header Start
        *************************************-->
<header id="tg-header" class="tg-header tg-haslayout">
    <div class="tg-middlecontainer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong class="tg-logo" style="margin-top: 20px;" @onclick="GoToMainPage"><a href="javascript:void(0);"><img src="theme/images/logo.png" alt="company name here"></a></strong>
                    <div class="tg-wishlistandcart">
                        <div class="dropdown tg-themedropdown tg-wishlistdropdown">
                            @*  <a href="https://github.com/topics/burma-project-ideas" target="_blank">
                            <i class="fa-brands fa-square-github" style="font-size: 35px;"></i>
                            </a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->
@Body

<!--************************************
        Footer Start
*************************************-->
<footer id="tg-footer" class="tg-footer tg-haslayout">
    <div class="tg-footerbar">
        <a id="tg-btnbacktotop" class="tg-btnbacktotop" href="javascript:void(0);"><i class="icon-chevron-up"></i></a>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    @if (DateTime.Now.Year == 2023)
                    {
                        _year = DateTime.Now.Year.ToString();
                    }
                    else
                    {
                        _year = $"{DateTime.Now.Year - 2023} - {DateTime.Now.Year}";
                    }
                    <span class="tg-copyright">@_year All Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--************************************
        Footer End
*************************************-->
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@code {
    private string _year { get; set; }

    private void GoToMainPage()
    {
        _nav.NavigateTo("/");
    }
}