@using MudBlazor
@inherits LayoutComponentBase
@inject NavigationManager _nav

<header id="tg-header" class="tg-header tg-haslayout">
    <div class="tg-middlecontainer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <strong class="tg-logo" style="margin-top: 20px;" @onclick="GoToMainPage"><a href="javascript:void(0);"><img src="theme/images/logo.png" alt="company name here"></a></strong>
                    <div class="tg-wishlistandcart">
                        <div class="dropdown tg-themedropdown tg-wishlistdropdown">
                            @*  <a href="https://github.com/topics/burma-project-ideas" target="_blank">
                            <i class="fa-brands fa-square-github" style="font-size: 35px;"></i>
                            </a> *@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
@Body
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
@code {
    private string? _year { get; set; }

    private void GoToMainPage()
    {
        _nav.NavigateTo("/");
    }
}